AUTH0_DOMAIN=your-tenant.us.auth0.com
AUTH0_CLIENT_ID=your_auth0_client_id
AUTH0_CLIENT_SECRET=your_auth0_client_secret
AUTH0_AUDIENCE=https://mini-enterprise-api

AUTH0_CALLBACK_URL=http://localhost:8001/auth/callback
AUTH0_LOGOUT_URL=http://localhost:5173

AUTH0_GOOGLE_CONNECTION=google-oauth2
AUTH0_MICROSOFT_CONNECTION=azuread

USER_SERVICE_URL=http://localhost:8002
TENANT_SERVICE_URL=http://localhost:8003
FRONTEND_URL=http://localhost:5173
